body{
	font-family:Lato, Sans-serif;
}
img{
max-width:100%;
}
iframe{
max-width:100%;
}
#header{
	border-bottom:1px solid #ddd;
	margin-bottom:10px;
	color:orange;
}
#top-text{
	border-left:2px solid orange;
	border-top:3px solid orange;
	padding:3px;
}
#news-text{
    color: #999;
    border-bottom:3px solid #999;
	border-right:2px solid #999;
    padding: 3px;
}
.item-container{
	background-color:rgba(238,238,238,0.6);
	padding:7px;
	min-height:220px;
	cursor:pointer;
}
.item-title{
	font-weight:bold;
	margin-bottom:10px;
}
.item-link,.item-published{
	text-align:right;
}
.item-img{
	float: right;
    max-width: 120px;
    margin-left: 7px;
    margin-bottom: 2px;
    border: 1px solid#ddd;
    padding: 3px;
}
.item-published{
	margin-top:2px;
}
.item-published span{
	color:orange;
	font-weight:bold;
}
@media screen and (max-width:767px){
	.item-img{
	float:left;
}
.item-container{
	min-height:0px;
}
.item-row{
	margin-right:-15px;
	margin-left:-15px;
}
}